<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button> -->
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <!-- <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="#">Age</a></li>
                <li><a href="#">Gender</a></li>
                <li><a href="#">Geo</a></li>
            </ul> -->
        </div>
    </div>
</nav>
<div class="image">
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs">
                <div style="font-size: 40px;">
                    <fa name="snowflake-o" animation="spin"></fa> moneyTrail
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <!-- <li class="active"><a href="#section1">Dashboard</a></li>
                    <li><a href="#section2">Age</a></li>
                    <li><a href="#section3">Gender</a></li>
                    <li><a href="#section3">Geo</a></li> -->
                    <button class="btn btn-primary btnMargin btn-space">Your Donations</button>
                    <button class="btn btn-primary btnMargin btn-space">Wallet</button>
                </ul><br>
            </div>
            <br>

            <div class="col-sm-9 ">
                <div class="well tile3">
                    <h3>Available Charities</h3>
                    <br>
                    <h5>Select the charities available to see the details about them. While donating the money you'll have the option to opt for "Backing out" - Select the option to withdraw the unsed money.</h5>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="well tile2">
                            <h3>
                                <fa style="font-size: 25px;" name="tree"></fa> AMAZONIA</h3>
                            <!-- <p>Living Beings/Area Impacted: Unknown/Amazon Rain Forest</p> -->
                            <p>Target: $800,000</p>
                            <p>Current Status: In progress</p>
                            <p>Audit/Reliability Rating: 5</p>
                            <p>Category : Nature</p>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well tile1">
                            <h4>
                                <fa style="font-size: 25px;" name="child"></fa> Children Mental Health School </h4>
                            <!-- <p>Living Beings/Area Impacted: Unknown/Amazon Rain Forest</p> -->
                            <p>Target: $100,00</p>
                            <p>Current Status: In progress</p>
                            <p>Audit/Reliability Rating: 4</p>
                            <p>Category : Children</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well tile4">
                            <h4>
                                <fa style="font-size: 25px;" name="handshake-o"></fa> ActionAid USA </h4>
                            <!-- <p>Living Beings/Area Impacted: Unknown/Amazon Rain Forest</p> -->
                            <p>Target: $900,000</p>
                            <p>Current Status: In progress</p>
                            <p>Audit/Reliability Rating: 2.5</p>
                            <p>Category : General</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well tile1">
                            <h4>
                                <fa style="font-size: 25px;" name="wpexplorer"></fa> Support Johnson Family </h4>
                            <!-- <p>Living Beings/Area Impacted: Unknown/Amazon Rain Forest</p> -->
                            <p>Target: $80,000</p>
                            <p>Current Status: In progress</p>
                            <p>Audit/Reliability Rating: 2</p>
                            <p>Category : General</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="well tile2">
                            <h4>
                                <fa style="font-size: 25px;" name="wpexplorer"></fa> Soccer Shoes for Nova </h4>
                            <!-- <p>Living Beings/Area Impacted: Unknown/Amazon Rain Forest</p> -->
                            <p>Target: $100</p>
                            <p>Current Status: In progress</p>
                            <p>Audit/Reliability Rating: 2</p>
                            <p>Category : General</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well tile3">
                            <h4>
                                <fa style="font-size: 25px;" name="wpexplorer"></fa> Cancer Help Illinois </h4>
                            <!-- <p>Living Beings/Area Impacted: Unknown/Amazon Rain Forest</p> -->
                            <p>Target: $1,000,000</p>
                            <p>Current Status: In progress</p>
                            <p>Audit/Reliability Rating: 4</p>
                            <p>Category : Health</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well tile4">
                            <h4>
                                <fa style="font-size: 25px;" name="wpexplorer"></fa> Veteran Support Charity, Cumberland County </h4>
                            <!-- <p>Living Beings/Area Impacted: Unknown/Amazon Rain Forest</p> -->
                            <p>Target: $700,000</p>
                            <p>Current Status: In progress</p>
                            <p>Audit/Reliability Rating:3.5</p>
                            <p>Category : General</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>