.row.content {
    height: 550px
}
/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}
/* On small screens, set height to 'auto' for the grid */

@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}
.image{
    height:auto; background-size:cover; width:auto;
    background-image:url('https://images.pexels.com/photos/1226402/pexels-photo-1226402.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position:50% 50%;
    // background: #004933;
  }

  .leftBar{
    // height:auto; background-size:cover; width:auto;
    // background-image:url('https://images.pexels.com/photos/163822/color-umbrella-red-yellow-163822.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500 1x, https://images.pexels.com/photos/163822/color-umbrella-red-yellow-163822.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500 2x');
    // background-position:50% 50%;
    background: #03a071;
  }
  .headerText {
    background: rgb(238, 175, 2);
    color:white;
  background-image:url('https://images.pexels.com/photos/1226402/pexels-photo-1226402.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');

  }

  .tile1 {
      background: rgb(3, 118, 250);
      color:white;
    //   background-image:url('https://images.pexels.com/photos/1428169/pexels-photo-1428169.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
      //https://images.pexels.com/photos/163064/play-stone-network-networked-interactive-163064.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260
  }

  .tile2 {
    background: rgb(226, 166, 2);
    color: aliceblue;
    // background-image:url('https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.tile3 {
    background: rgb(2, 130, 153);
    color: rgb(247, 247, 247);
    // background-image:url('https://images.pexels.com/photos/1428169/pexels-photo-1428169.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}
.tile4 {
    background: #03a071;
    color: aliceblue;
    // background-image:url('https://images.pexels.com/photos/1428169/pexels-photo-1428169.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}

.tile5 {
    background: #50f703fd;
    color: aliceblue;
}

.btn-space {
    margin-right: 5px;
}

.centerText {
 text-align: center;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}