<h3 class="headerText navbar text-center" style="font-size: 40px;">
    <fa name="snowflake-o" animation="spin"></fa> moneyTrail</h3>
<h5 class="card-header">
    <fa style="font-size: 30px;" name="grav"></fa>Dreamers</h5>
<div>
    <div class="col-sm-4 text-center">
        <h2 class="text-center">PIE chart using Chartjs and Angular 6</h2>
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
</div>